WebPortal/packages/
*.Publish.xml
*.FileListAbsolute.txt
packages/
Release/Release.msi
*.suo
*.exe
*.dll
*.pdb
*.cache
WebPortal/obj/
*.bak
WebService/obj/
*.user
WebPortal/bin/
WebService/bin/
*.manifest
Test/bin
Test/obj
WebService/Properties/PublishProfiles
WebService/Properties/PublishProfiles
.vs/